.button{
    display: inline-flex;
}

.button a{
    color: #7a1c1c;
    padding: 0.45rem;
    border: 2px solid #7a1c1c;
    margin: 1em;
    transition: all 400ms ease-in-out;
}

.button a:hover{
    color:#e6e6e6;
    background-color: #7a1c1c;
}

.button ul li{
    display: inline-block;
    margin: 3rem;
}
.letter{
    margin-bottom: 2rem;
}

h4{
    margin-bottom: 1.5rem;
}

.nav-bot li{
    display: inline-block;
    margin-top: 1.3rem;
}

li.back{
    position: relative;
    left: -30rem;
}

li.next-entry{
    position: relative;
    left: 30rem;
}

li a{
    color: #286d40;
    opacity: 50%;
    transition: all 400ms ease-out;
}

li a:hover{
    color: #286d40;
    opacity: 100%;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
}

.hidden{
    visibility: hidden;
}